/**********************
*					  *
*   Variables		  *
*					  *
***********************/

/*
	Typography
	==========
*/

$font-family: 'Noto Sans', sans-serif;
$font-family-lato: 'Lato', sans-serif;
// typography sizes
$baseFontSize : 14;

$small-x: 10;
$small: 12;
$semi-medium: 16;
$medium: 18;
$semi-large: 22;
$large: 40;
$xl: 45;
$xxl: 60;
